@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@font-face {
  font-family: "Averta";
  src: url("./AvertaDemoPE-Regular.otf") format("otf");
}
// @font-face{
//     font-family: "Majesti";
//     src: url('./Majesti-Banner-Medium.otf') format("otf");
// }
// @font-face{
//   font-family: "Majesti-Light";
//   src: url('./Majesti-Banner-Light.otf') format('otf');
// }
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,700');
root{
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Averta", sans-serif;
}
.page {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  width: 100%;
  max-width: 1100px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.largeCard {
  position: absolute;
  width: 100%;
  height: 55%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  color: rgb(103, 228, 201);
  font-size: 8rem;
  display: flex;
  flex-direction: row;

  .left{
    height: 100%;
    width:60%;

  }
  .right{
    
    height: 100%;
    width:40%;
  }
}
.smallCard {
  position: absolute;
  width: 50%;
  height: 40%;
  left: 50%;
  top: 50%;
  background-color: #fff;
  
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
  z-index: 100;
  border-radius: 4px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .textTop {
    width:50%;
    h2 {
      text-transform: uppercase;
      font-weight: 700;
    }
    h4 {
      font-weight: 400;
    }
  }
  .textBottom {
      width:75%;
      font-size: 1em;
      line-height:1.7em;
  }
}
.background-0{
  background:linear-gradient(rgba(103, 228, 201, 0.8), rgba(103, 228, 201, 0.6)) center center / cover, url("../images/0.jpg");
}/*
.background-1{
  background:linear-gradient(rgba(103, 228, 201, 0.8), rgba(103, 228, 201, 0.6)) center center / cover, url("../images/1.jpg");
}
.background-2{
  background:linear-gradient(rgba(103, 228, 201, 0.8), rgba(103, 228, 201, 0.6)) center center / cover, url("../images/2.jpg");
}
.background-3{
  background:linear-gradient(rgba(103, 228, 201, 0.8), rgba(103, 228, 201, 0.6)) center center / cover, url("../images/3.jpg");
}*/